.LocationContainer
{
	width: 50%;
  margin-bottom: 30px;
}

.LocationNameContainer 
{
  width: 100%;
  height: 60px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background: #00BCD4;
  color: white;
}

.LocationNameContainer:hover
{
  background: #26C281;
}

.RecordChunk 
{
  font-family: 'Roboto', sans-serif;
  padding: 0 18px;
  overflow: hidden;
  display:none;
  transition: max-height 0.2s ease-out;
	background-color:rgb(255, 255, 255);
	text-align: center;
}

/* Center Table */
.tablerecords 
{
  margin-left: auto;
  margin-right: auto;
  counter-reset: count; /* Set the serial number counter to 0 */
}

.tablerecords:before 
{
  content:"\A";
  white-space: pre-line;
}

.tablerecords td:first-child:before 
{
  counter-increment: count; /* Increment the serial number counter */
  content: counter(count); /* Display the counter */
}
  
td, th 
{
  border: 2px solid #3E474F;
  text-align: center;
  padding: 8px;
}

/* Button Div */
.button_div
{
  margin-bottom: 30px;
  overflow: hidden;
}

/* Button Design */
.showAll 
{
  width: 200px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.closeAll 
{
  width: 200px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button:hover
{
  background: #26C281;
}

.message:before {
  content:"\A";
  white-space: pre-line;
}






  