<!-- Extends the basic html template -->
{% extends "dashboard_layout.html" %}
{% set active_page ="covid19Locations" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<title>Public Places Visited by Positive COVID-19 Cases When Infectious</title>
{% endblock %}

<!-- Content Header -->
{% block contentHeader %}
    <b><i class="fa fa-street-view fa-fw"></i>  Public Places Visited by Positive COVID-19 Cases When Infectious</b>
{% endblock %}

<!-- Main Content of the Page -->
{% block contentBody %}
    <!-- Location history table -->
    <div class="w3-row-padding w3-margin-bottom">
      <table>
          <tr>
              <th width="100px">Date</th>
              <th width="250px">Location</th>
              <th width="80px">Time In</th>
              <th width="80px">Time Out</th>
          </tr>
          <tr>
              <td>01 Apr 2021</td>
              <td>Some random shop</td>
              <td>3.29pm</td>
              <td>5.00pm</td>
          </tr>
          <tr>
              <td>11 Apr 2021</td>
              <td>123 shop</td>
              <td>1.22pm</td>
              <td>2.33pm</td>
          </tr>
      </table>
    </div>

{% endblock %}
