<!-- Extends the basic html template -->
{% extends "dashboard_layout.html" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general_updateContactDetails.css') }}"/>
	<title>Overview</title>
{% endblock %}

<!-- Content Header -->
{% block contentHeader %}
    <b><i class="fa fa-cog fa-fw"></i>Settings</b>
{% endblock %}

<!-- Main Content of the Page -->
{% block contentBody %}
    <form>
      <form>
			<label>Current Password :</label>
			<input type="password" name="current_pw"><br/>
			
			<label>New Password :</label>
			<input type="password" id="new_pass"><br/>

			<label>Re-Type New Password :</label>
			<input type="password" id="check_new_pass"><br/><br/>

			<input type="submit" value="Update Password">
      </form>
    </form>
{% endblock %}
