<!DOCTYPE html>
<html>
<title>Send Alerts</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
/* fonts */
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

/* top right log out button */
.w3-right {
  background-color: black; /* black */
  border: none;
  cursor: pointer;
}

/* auto complete */
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /* position the autocomplete items to be the same width as the container: */
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/* when hovering an item: */
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/* when navigating through the items using the arrow keys: */
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>

<body class="w3-white">

  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large">
    <a href="/login"<button class="w3-right">Log Out</button></a>
  </div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="{{url_for('static', filename='icon.png')}}"/>
    </div>
  </div>

  <div class="w3-bar-block">
    <a href="/healthHome" class="w3-bar-item w3-button w3-padding w3-padding"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="/healthContact" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bluetooth"></i> &nbsp; Contact Tracing</a>
    <a href="/healthAlert" class="w3-bar-item w3-button w3-blue"><i class="fa fa-bell fa-fw"></i>  Send Alerts</a>
    <a href="/logout" class="w3-bar-item w3-button w3-padding"><i class="fa fa-lock fa-fw"></i>  Log Out</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h3><b><i class="fa fa-bell fa-fw"></i>  Send Alerts</b></h3>
  </header>

  <!-- Send Alerts -->
  <div class="w3-row-padding w3-margin-bottom">
    <form action="/healthAlert" autocomplete="off" method="POST">
      <label for="category">Category: &nbsp;</label>
      <select name="category" id="category">
        <option value="public" selected="selected">Public User</option>
        <option value="business">Business User</option>
      </select>
      <br><br>

      <label for="recipient">Recipient: &nbsp;</label>
      <div class="autocomplete" style="width:302px;">
        <input id="recipient" type="text" name="recipient" size="40" placeholder="Enter NRIC or Business Name">
      </div>
      <br><br>

      <label for="validity">Message Validity: &nbsp;</label>
      <div class="autocomplete" style="width:302px;">
        <input id="validity" type="date" name="validity">
      </div>
      <br><br>

      <label for="message">Message: </label><br>
      <textarea id="message" name="message" rows="10" cols="100" placeholder="Enter your message.."></textarea>
      <br><br>

      <label for="severity">Severity Level:</label><br>
      <input type="radio" id="critical" name="severity" value="critical">
      <label for="critical">&nbsp;<i class="fa fa-exclamation-triangle" style="color:red;"></i> Critical</label><br>
      <input type="radio" id="moderate" name="severity" value="moderate">
      <label for="moderate">&nbsp;<i class="fa fa-exclamation-circle" style="color:orange;"></i> Moderate</label><br>
      <input type="radio" id="clear" name="severity" value="clear">
      <label for="clear">&nbsp;<i class="fa fa-check" style="color:green;"></i> Clear</label>
      <br><br>

      <input type="submit" id="submit">
    </form>

    <script>
      /* date validity selection */
      var now = new Date();
      var today = now.getFullYear() + "-" + ('0' + (now.getMonth() + 1)).slice(-2) + "-" + ('0' + now.getDate()).slice(-2);
      document.getElementsByName("validity")[0].setAttribute('min', today);

      /* display alert box after clicking submit button */
      document.getElementById("submit").onclick = function(e){
        alert("Your alert message has been successfully delivered to " + document.getElementById("recipient").value + " !");
      }
      function autocomplete(inp, arr) {
        /* the autocomplete function takes two arguments, the text field element and an array of possible autocompleted values: */
        var currentFocus;
        /* execute a function when someone writes in the text field: */
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            /* close any already open lists of autocompleted values */
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            /* create a DIV element that will contain the items (values): */
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /* append the DIV element as a child of the autocomplete container: */
            this.parentNode.appendChild(a);
            /* for each item in the array... */
            for (i = 0; i < arr.length; i++) {
              /* check if the item starts with the same letters as the text field value: */
              if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                /* create a DIV element for each matching element: */
                b = document.createElement("DIV");
                /* make the matching letters bold: */
                b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                b.innerHTML += arr[i].substr(val.length);
                /* insert a input field that will hold the current array item's value: */
                b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                /* execute a function when someone clicks on the item value (DIV element): */
                b.addEventListener("click", function(e) {
                    /* insert the value for the autocomplete text field: */
                    inp.value = this.getElementsByTagName("input")[0].value;
                    /* close the list of autocompleted values, (or any other open lists of autocompleted values: */
                    closeAllLists();
                });
                a.appendChild(b);
              }
            }
        });
        /* execute a function presses a key on the keyboard: */
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
              /* If the arrow DOWN key is pressed, increase the currentFocus variable: */
              currentFocus++;
              /* and make the current item more visible: */
              addActive(x);
            } else if (e.keyCode == 38) { //up
              /* If the arrow UP key is pressed, decrease the currentFocus variable: */
              currentFocus--;
              /* and make the current item more visible: */
              addActive(x);
            } else if (e.keyCode == 13) {
              /* If the ENTER key is pressed, prevent the form from being submitted, */
              e.preventDefault();
              if (currentFocus > -1) {
                /* and simulate a click on the "active" item: */
                if (x) x[currentFocus].click();
              }
            }
        });
        function addActive(x) {
          /* a function to classify an item as "active": */
          if (!x) return false;
          /* start by removing the "active" class on all items: */
          removeActive(x);
          if (currentFocus >= x.length) currentFocus = 0;
          if (currentFocus < 0) currentFocus = (x.length - 1);
          /* add class "autocomplete-active": */
          x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
          /* a function to remove the "active" class from all autocomplete items: */
          for (var i = 0; i < x.length; i++) {
            x[i].classList.remove("autocomplete-active");
          }
        }
        function closeAllLists(elmnt) {
          /* close all autocomplete lists in the document, except the one passed as an argument: */
          var x = document.getElementsByClassName("autocomplete-items");
          for (var i = 0; i < x.length; i++) {
            if (elmnt != x[i] && elmnt != inp) {
              x[i].parentNode.removeChild(x[i]);
            }
          }
        }
        /* execute a function when someone clicks in the document: */
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
      }
      
      /* An array containing all the country names in the world: */
      var recipient = ["S0001","S0002","S0003","S0004","S0005","S0006","S0007", "S0008","S0009","S0010","S0011","S0012","S0013","S0014","S0015","S0016","S0017","S0018","S0019", "University of Wollongong", "Singapore Institute of Management"];

      /* initiate the autocomplete function on the "search" element, and pass along the countries array as possible autocomplete values: */
      autocomplete(document.getElementById("recipient"), recipient);
    </script>
  </div>
</div>

</body>
</html>
