<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
/* fonts */
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

/* top right log out button */
.w3-right {
  background-color: black; /* black */
  border: none;
  cursor: pointer;
}

</style>

<body class="w3-white">

  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large">
    <a href="/logout" <button class="w3-right">Log Out</button></a>
  </div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="{{url_for('static', filename='icon.png')}}"/>
    </div>
  </div>

  <div class="w3-bar-block">
    <a href="/home" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-edit fa-fw"></i>  Update Particulars</a>
    <a href="/locationHistory" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  View My Location History</a>
    <a href="/alert" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  View Alerts</a>
    <a href="/covid19Locations" class="w3-bar-item w3-button w3-padding"><i class="fa fa-street-view fa-fw"></i>  View Places Visited by COVID-19 Cases</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i> Settings</a>
    <a href="/logout" class="w3-bar-item w3-button w3-padding"><i class="fa fa-lock fa-fw"></i> Log Out</a>
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h3><b><i class="fa fa-users fa-fw"></i> Overview</b></h3>
  </header>
  <!-- Exposure Risk -->
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-full">
      <div class="w3-container w3-white w3-padding-16">
        <!-- Green (default) -->
        <div id="green">
          <div class="w3-left"><i class="fa fa-check w3-xxxlarge" style="color:green"></i></div>
          <h4><b>You're okay! You were not at places visited by COVID-19 cases.</b></h4>
          <p>Based on your location records from the last 14 days.</p>
        </div>
        <!-- Orange -->
        <div id="orange">
          <div class="w3-left"><i class="fa fa-exclamation-circle w3-xxxlarge" style="color:orange"></i></div>
          <h4><b>&nbsp;Please monitor your health for the next 14 days. You were at places visited by COVID-19 cases.</b></h4>
          <p>&nbsp;Based on your location records from the last 14 days.</p>
        </div>
        <!-- Red -->
        <div id="red">
          <div class="w3-left"><i class="fa fa-exclamation-triangle w3-xxxlarge" style="color:red"></i></div>
            <h4><b>&nbsp;You have come into contact with a person with COVID-19.</b></h4>
        </div>
      </div>
  </div>
    
  <!-- Update Particulars -->
  <div class="w3-row-padding w3-margin-bottom">
    <a href="/" style="text-decoration:none">
      <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
          <div class="w3-left"><i class="fa fa-edit w3-xxxlarge"></i></div>
          <div class="w3-clear"></div>
          <h4>Update Particulars<br/><br/></h4>
        </div>
      </a>  
    </div>
  <!-- Change Password -->
  <div class="w3-quarter">
    <a href="/locationHistory" style="text-decoration:none">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-history fa-fw w3-xxxlarge"></i></div>
        <div class="w3-clear"></div>
        <h4>View My Location History<br/><br/></h4>
      </div>
    </a>  
  </div>
  <!-- Alerts -->
  <div class="w3-quarter">
    <a href="/alert" style="text-decoration:none">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-bell fa-fw w3-xxxlarge"></i></div>
        <div class="w3-clear"></div>
        <h4>Alerts<br/><br/></h4>
      </div>
    </a>  
  </div>
  <!-- Places Visited By COVID-19 cases -->
  <div class="w3-quarter">
    <a href="/covid19Locations" style="text-decoration:none">
      <div class="w3-container w3-deep-orange w3-padding-16">
        <div class="w3-left"><i class="fa fa-street-view fa-fw w3-xxxlarge"></i></div>
        <div class="w3-clear"></div>
        <h4>Places Visited By COVID-19 cases</h4>
      </div>
    </a>  
  </div>
</div>
</div>
</div>
<script>
  window.addEventListener('load', displayRisk);
  // variables
  var currentColour = "green";
  
  // Hide/Display Status Accordingly
  function displayRisk() {
    if (currentColour == "green") {
      document.getElementById("green").style.display = "inline";
      document.getElementById("orange").style.display = "none";
      document.getElementById("red").style.display = "none";
    } else if (currentColour == "orange"){
      document.getElementById("orange").style.display = "inline";
      document.getElementById("green").style.display = "none";
      document.getElementById("red").style.display = "none";
    } else {
      document.getElementById("red").style.display = "inline";
      document.getElementById("green").style.display = "none";
      document.getElementById("orange").style.display = "none";
    } 
  }
  </script>
</body>
</html>
