<!-- Extends the basic html template -->
{% extends "dashboard_layout.html" %}
{% set active_page = "business_viewAffectedOutlet" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<title>View Affected Outlet</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/business_viewAffectedOutlet.css')}}"/>
	<script type=text/javascript src="{{url_for('static', filename='js/business_viewAffectedOutlet.js')}}"></script>
{% endblock %}

<!-- Content Header -->
{% block contentHeader %}
	<b><i class="fa fa-history fa-fw"></i>View Affected Outlet</b>
{% endblock %}

<!-- Main Content of the Page -->
{% block contentBody %}
	<div class="w3-row-padding w3-margin-bottom">
		<!-- "Open all" Button -->
		<div class="button_div">
			<button onclick = "showAllFunction()" class="showAll">Open All</button>
			<button onclick = "closeAllFunction()" class="closeAll">Close All</button>
		</div>

		{% for location in locationDetails %}
			<!-- Div containing Location Name and its details-->
			<div class="LocationContainer">

				<!-- Div to show the location Name -->
				<div class="LocationNameContainer">
					<h4>{{location[0]}}</h4>
				</div>

				<!-- Div containing the records for that location -->
				<div class="RecordChunk">
					<!-- If there is Location Data -->
					{% if location[1] != [] %}
						<span class="message">Check in Time of COVID-19 Positive People</span>  
						<div class="RecordRow">
							<!-- Table To Display Time Records -->
							<table class="tablerecords">
								<!-- Table Header -->
								<tr>
									<th>No</th>
									<th width="150px">Date</th>
									<th width="150px">Time In</th>
									<th width="150px">Time Out</th>
								</tr>

								<!-- Display all records for current location -->
								{% for record in location[1] %}
									<tr>
										<td></td><!-- this is left blank to generate count -->
										<td>{{record[0]}}</td>
										<td>{{record[1]}}</td>
										<td>{{record[2]}}</td>
									</tr>
								{% endfor %}
							</table>
						</div>
					{% else %}
						<!-- If there is no location data -->
						<span class="message">This branch is not visited by any COVID-19 Positive People</span>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

