<!-- Extends the basic html template -->
{% extends "dashboard_layout.html" %}
{% set active_page ="business_viewAffectedOutlet" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<title>View Affected Outlet</title>
  <style>
    tr:hover td {
      background-color:#e7e7e7;
    }
  </style>
{% endblock %}

<!-- Content Header -->
{% block contentHeader %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/business_viewAffectedOutlet.css') }}"/>
    <b><i class="fa fa-history fa-fw"></i>View Affected Outlet</b>
{% endblock %}

<!-- Main Content of the Page -->
{% block contentBody %}
	<div class="w3-row-padding w3-margin-bottom">
		{% for location in locationDetails %}
			<div class="LocationContainer">
				<div class="LocationNameContainer">
					<h4>{{location.locationName}}</h4>
				</div>
				<div class="RecordChunk">
					Can add some message here so people know what they are looking at?
					{% for record in location.checkInData %}
						<div class="RecordRow">
							<span>{{record.date}}</span>
							<span>{{record.timeIn}}</span>
							<span>{{record.timeOut}}</span>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}