<!-- Extends the basic html template -->
{% extends "dashboard_layout.html" %}
{% set active_page = "settings" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general_updateContactDetails.css') }}"/>
	<title>Settings</title>
{% endblock %}

<!-- Content Header -->
{% block contentHeader %}
	<b><i class="fa fa-cog fa-fw"></i>Settings</b>
{% endblock %}

<!-- Main Content of the Page -->
{% block contentBody %}
	<form action="/settings" method="POST">
		<label>Current Password :</label>
		<input type="password" name="current_pw"><br/>
		
		<label>New Password :</label>
		<input type="password" name="new_pw"><br/>

		<label>Confirm New Password :</label>
		<input type="password" name="new_pw2"><br/><br/>

		<input type="submit" value="Update Password">
	</form>
{% endblock %}
