<!-- Extends the basic html template -->
{% extends "dashboard_layout.html" %}
{% set active_page = "healthStaff_new_business_alert" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/autocomplete_field.css') }}"/>
	<script type=text/javascript src="{{url_for('static', filename='js/autocomplete.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='js/healthStaff_new_alert.js') }}"></script>
	<script>
		/* An array containing all the information record */
		var recipientList = {{ userDetails | safe }};
	</script>
	<title>Send Business Alert</title>
{% endblock %}

<!-- Content Header -->
{% block contentHeader %}
	<b><i class="fa fa-bell fa-fw"></i>Send Business Alert</b>
{% endblock %}

<!-- Main Content of the Page -->
{% block contentBody %}
	<!-- Send Alerts -->
	<form action="/send_business_alert" autocomplete="off" method="POST">
		<!-- Recipient Search Box -->
		<label for="recipient">Recipient: &nbsp;</label>
		<div class="autocomplete" style="width:302px;">
			<input id="recipient" name='target' type="text" size="40" placeholder="Enter Business Name">
		</div>
		<br><br>

		<!-- Area to type message -->
		<label for="message">Message: </label><br>
		<textarea id="message" name="message" rows="10" cols="100" placeholder="Enter your message .."></textarea>
		<br><br>

		<input type="submit" id="submit">
	</form>
{% endblock %}
