<!-- Extends the basic html template -->
{% extends "dashboard_layout.html" %}
{% set active_page = "healthStaff_view_contact_details" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/healthStaff_viewUserDetails.css') }}"/>
	<title>View Contact Details</title>
{% endblock %}

<!-- Content Header -->
{% block contentHeader %}
	<b><i class="fa fa-address-book-o"></i> &nbsp;View Contact Details</b>
{% endblock %}

<!-- Main Content of the Page -->
{% block contentBody %}
	<!-- Contact Tracing -->
	<div class="w3-row-padding w3-margin-bottom">
		<form action="/view_patient_details" autocomplete="off" method="POST">
			<label for="user">User: &nbsp;</label>
			<input id="user" type="text" name="user" size="40" placeholder="Enter NRIC">
			<input type="submit" id="submit" value="Search">
		</form>
	
		<!-- Table Displaying Patient Records (If Any) -->
		{% if patientDetails %}
			<table id="records" style='margin-top: 20px;'>
				<!-- Table Header -->
				<tr>
					<th>NRIC</th>
					<th>First Name</th>
					<th>Middle Name</th>
					<th>Last Name</th>
					<th>Gender</th>
					<th>Mobile</th>
				</tr>

				<!-- Patient Details -->
				<tr>
					<td>{{ patientDetails[0] }}</td>
					<td>{{ patientDetails[2] }}</td>
					<td>{{ patientDetails[3] }}</td>
					<td>{{ patientDetails[4] }}</td>
					<td>{{ patientDetails[6] }}</td>
					<td>{{ patientDetails[5] }}</td>
				</tr>
			</table>
		{% endif %}
	</div>
{% endblock %}
