<!-- Common Functionalities -->
<a href="/" class="w3-bar-item w3-button w3-padding {% if active_page == 'overview' %} w3-blue {% endif %}"><i class="fa fa-users fa-fw"></i>  Overview</a>
<a href="/update_contact" class="w3-bar-item w3-button w3-padding {% if active_page == 'update_contact' %} w3-blue {% endif %}"><i class="fa fa-edit fa-fw"></i>  Update Particulars</a>

<!-- Functionalities for Public User -->
{% if userType == 'Public' %}
	<a href="/view_alert" class="w3-bar-item w3-button w3-padding {% if active_page == 'public_viewAlert' %} w3-blue {% endif %}"><i class="fa fa-bell fa-fw"></i>  View Alerts</a>
	<a href="/view_location_history" class="w3-bar-item w3-button w3-padding {% if active_page == 'public_locationHistory' %} w3-blue {% endif %}"><i class="fa fa-history fa-fw"></i>  View My Location History</a>
	<a href="/view_affected_location" class="w3-bar-item w3-button w3-padding {% if active_page == 'public_covid19Locations' %} w3-blue {% endif %}"><i class="fa fa-street-view fa-fw"></i>  View Affected Locations</a>
	<a href="/view_vaccine_certificate" class="w3-bar-item w3-button w3-padding {% if active_page == 'public_viewVaccineCertificate' %} w3-blue {% endif %}">&nbsp;<i class="fa fa-certificate"></i>  &nbsp;View Vaccine Certificate</a>
{% endif %}

<!-- Functionalities for Business User -->
{% if userType == 'Business' %}
	<a href="/view_business_alert" class="w3-bar-item w3-button w3-padding {% if active_page == 'business_viewAlert' %} w3-blue {% endif %}"><i class="fa fa-bell fa-fw"></i>  View Alerts</a>
	<a href="/view_affected_outlet" class="w3-bar-item w3-button w3-padding {% if active_page == 'business_viewAffectedOutlet' %} w3-blue {% endif %}"><i class="fa fa-history fa-fw"></i>  View Affected Outlet</a>
{% endif %}

<!-- Functionalities for Health Staff User -->
{% if userType == 'Health Staff' %}
	<a href="/view_patient_details" class="w3-bar-item w3-button w3-padding {% if active_page == 'healthStaff_view_contact_details' %} w3-blue {% endif %}"><i class="fa fa-address-book-o"></i> &nbsp; View Contact Details</a>
	<a href="/contact_tracing" class="w3-bar-item w3-button {% if active_page == 'healthStaff_contact_tracing' %} w3-blue {% endif %}"><i class="fa fa-bluetooth fa-fw"></i> Generate Contact Tracing Report</a>
	<a href="/send_public_alert" class="w3-bar-item w3-button {% if active_page == 'healthStaff_new_public_alert' %} w3-blue {% endif %}"><i class="fa fa-bell fa-fw"></i>  Send Public Alert</a>
	<a href="/send_business_alert" class="w3-bar-item w3-button {% if active_page == 'healthStaff_new_business_alert' %} w3-blue {% endif %}"><i class="fa fa-bell fa-fw"></i>  Send Business Alert</a>
	<a href="/view_update_vaccination" class="w3-bar-item w3-button {% if active_page == 'healthStaff_view_update_vaccination' %} w3-blue {% endif %}"><i class="fa fa-user-md fa-fw"></i>  View & Update Vaccination Status</a>
{% endif %}

<!-- Functionalities for Organisation User -->
{% if userType == 'Organisation' %}
	<a href="/create_user_account" class="w3-bar-item w3-button w3-padding {% if active_page == 'organisationUser_create_user_account' %} w3-blue {% endif %}"><i class="fa fa-user-plus"></i>  Create User Account</a>
	<a href="/view_user_account" class="w3-bar-item w3-button w3-padding {% if active_page == 'organisationUser_viewUpdate_user_account' %} w3-blue {% endif %}"><i class="fa fa-user"></i> &nbsp; View & Update User Account</a>
	<a href="/view_vaccination_report" class="w3-bar-item w3-button w3-padding {% if active_page == 'organisationUser_viewVaccinationStatusReport' %} w3-blue {% endif %}"><i class="	fa fa-file"></i> &nbsp; Generate Vaccination Status Report</a>
	<a href="/view_infection_report" class="w3-bar-item w3-button w3-padding {% if active_page == 'organisationUser_view_infection_report' %} w3-blue {% endif %}"><i class="fa fa-file-text"></i> &nbsp; Generate Infection Report</a>
{% endif %}

<!-- Common Functionalities -->
<a href="/settings" class="w3-bar-item w3-button w3-padding {% if active_page == 'settings' %} w3-blue {% endif %}"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
<a href="/logout" class="w3-bar-item w3-button w3-padding"><i class="fa fa-lock fa-fw"></i>&nbsp; Log Out</a>