<!-- Extends the basic html template -->
{% extends "dashboard_layout.html" %} 
{% set active_page ="organisationUser_viewUpdate_user_account" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
<title>Update User Account</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/autocomplete_field.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/organisationUser_createUserAccount.css')}}"/>
	<script type=text/javascript src="{{url_for('static', filename='js/autocomplete.js') }}"></script>
	<script>
		/* An array containing all the information record */
		var businessNames = {{ businesses | safe }};
		var organisationNames = {{ organisations | safe }};

		$(document).ready(function () {
			{% if userInfo[7] == 'Business' %}
				autocomplete(document.getElementById("businessName"), businessNames);
			{% endif %}
			{% if userInfo[7] == 'Organisation' %}
				autocomplete(document.getElementById("organisationName"),organisationNames);
			{% endif %}
		});
	</script>
{% endblock %}

<!-- Content Header -->
{% block contentHeader %}
	<b><i class="fa fa-pencil"></i> Update User Account</b>
{% endblock %}

<!-- Main Content of the Page -->
{% block contentBody %}
	<div class="w3-row-padding w3-margin-bottom">
		<form method="POST" action="./update_user_account">
			<!-- Display all current account details and password in the input fields -->
			<!-- Account type -->
			<div>
				<label for="acc_type" class="label_details">Account Type:</label>
				<input name="accountType" class="select" id="acc_type" value="{{ userInfo[7] }}" readonly />
			</div> 

			<!-- NRIC -->
			<div>
				<label for="nric" class="label_details">NRIC:</label>
				<input name="NRIC" type="text" id="nric" autocomplete="off" value="{{ userInfo[0] }}" readonly /> 
			</div>

			<!--First Name -->
			<div>
				<label for="first_name" class="label_details">First Name:</label>
				<input name="firstName" type="text" id="first_name" autocomplete="off" value="{{ userInfo[2] }}"/> 
			</div>

			<!-- Middle Name -->
			<div>
				<label for="middle_name" class="label_details">Middle Name:</label>
				<input name="middleName" type="text" id="middle_name" autocomplete="off" value="{{ userInfo[3] }}"/> 
			</div>

			<!-- Last Name -->
			<div>
				<label for="last_name" class="label_details">Last Name:</label>
				<input name="lastName" type="text" id="last_name" autocomplete="off" value="{{ userInfo[4] }}"/> 
			</div>

			<!-- Account type -->
			<div>
				<label for="gender" class="label_details">Gender:</label>
				<select name="gender" id="gender">
					{% if userInfo[6] == 'M' %}
						<option selected value="M">Male</option>
						<option value="F">Female</option>
					{% else %}
						<option value="M">Male</option>
						<option selected value="F">Female</option>
					{% endif %}
				</select> 
			</div>

			<!-- Contact Number -->
			<div>
				<label for="contact_number" class="label_details">Contact Number:</label>
				<input name="mobile" type="number" id="contact_number" autocomplete="off" value="{{ userInfo[5] }}"/> 
			</div>

			<!-- Business Name -->
			{% if userInfo[7] == 'Business' %}
				<div id="businessDiv">
					<label id="businessLabel" for="businessName" class="label_details"> Business Name: </label>
					<div class="autocomplete">
						<input name="businessName" type="text" id="businessName" autocomplete="off" value="{{ userInfo[8] }}"/> 
					</div>
				</div>
			{% endif %}
			
			<!-- License No -->
			{% if userInfo[7] == 'Health Staff' %}
				<div id="licenseDIV">
					<label id="licenseLabel" for="licence_number" class="label_details">License Number:</label>
					<input name="licenseNo" type="number" id="license_number" autocomplete="off" value="{{ userInfo[9] }}"/> 
				</div>
			{% endif %}

			<!-- Organisation Name -->
			{% if userInfo[7] == 'Organisation' %}
				<div id="organisationDiv">
					<label id="organisationLabel" for="organisationName" class="label_details">Organisation Name:</label>
					<div class="autocomplete">
						<input name="organisationName" type="text" id="organisationName" autocomplete="off" value="{{ userInfo[10] }}"/>
					</div>
				</div>
			{% endif %}

			<!-- Password -->
			<div>
				<label for="password" class="label_details">Password:</label>
				<input name="password" type="password" id="password" autocomplete="off" value="{{ userInfo[1] }}"/>
			</div>

			<!-- Confirm Password -->
			<div>
				<label for="cfm_password" class="label_details">Confirm Password:</label>
				<input name="confirmPassword" type="password" id="cfm_password" autocomplete="off" value="{{ userInfo[1] }}"/>
			</div></br></br>

			<!-- Update Button -->
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Update</button>
			
			<!-- Modal for Update Confirmation-->
			<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="vertical-alignment-helper">
					<div class="modal-dialog vertical-align-center">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Update User Account Confirmation</h4>
							</div>
							<div class="modal-body"><!-- Confirmation Message -->
									You are about to update this account. Are you sure that the new details are correct?<br/>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-danger" value="submit">Update</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>		
{% endblock %}
