<!-- Extends the basic html template -->
{% extends "dashboard_layout.html" %}
{% set active_page ="organisationUser_view_infection_report" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/organisationUser_generateInfectionReport.css') }}"/>
	<script type=text/javascript src="{{url_for('static', filename='js/organisationUser_generateInfectionReport.js') }}"></script>
	<script>
		dailyInfectionCount = {{ dailyInfectionNumbers | safe }};
	</script>
	<title>Generate Infection Report</title>
{% endblock %}

<!-- Content Header -->
{% block contentHeader %}
	<!-- Display ICON and Header -->
	<b><i class='fa fa-file-text'></i> Generate Infection Report</b><br><br>
{% endblock %}

<!-- Main Content of the Page -->
{% block contentBody %}
	<button type="button" id="viewChart" onclick="viewChart()">Infection Chart</button>
	<button type="button" id="viewDetailedReport" onclick="viewDetailedReport()">Detailed Information</button>
	<br><br>

	<div id="displayChart">
		<p>This chart displayed the daily number of active cases in the community in the past 2 weeks</p>
		<canvas id="biweeklyChart"></canvas>
	</div>

	<div id="displayReport" hidden>
		<form id="form">
			<label for="dateSelection">Choose a Date: </label>
			<input type="date" id="dateSelection" required>
			<button type="submit" onclick="showDetailedReport()">Search</button>
		</form>
		
		<div id="detailedReport">
			<p id="date"></p>
			<p id="noOfCases">Number of active cases in the community: <span id="noOfActiveCase"></span></p>
			<div>
				<b id="detailHeader"></b>
			</div>
			<table id="locationListing">
			</table>
			<div class="loader" ></div>
		</div>
	</div>
{% endblock %}
