<!-- Extends the basic html template -->
{% extends "dashboard_layout.html" %}
{% set active_page = "public_locationHistory" %}

<!-- Updates the <head> of the webpage -->
{% block head %}
	<title>My Location History</title>
{% endblock %}

<!-- Content Header -->
{% block contentHeader %}
	<b><i class="fa fa-history fa-fw"></i>My Location History</b>
{% endblock %}

<!-- Main Content of the Page -->
{% block contentBody %}
	<div class="w3-row-padding w3-margin-bottom">
		<table>
			<!-- Table Header -->
			<tr>
				<th width="100px">Date</th>
				<th width="250px">Location</th>
				<th width="80px">Time In</th>
				<th width="80px">Time Out</th>
			</tr>

			<!-- Location History Records -->
			{% for result in locationHistory %}
				<tr>
					<td>{{result.date}}</td>
					<td>{{result.locationName}}</td>
					<td>{{result.time_in}}</td>
					<td>{{result.time_out}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}